html {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

* {
  font-family: "RocknRoll One", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $text;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-background;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.week-header {
  color: $text-light;
  margin: 20px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px $text-shadow;
}

.wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $border;
  border-radius: 10px;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 255, 0.2);
  background-color: $light-background;
  padding: 40px;

  .days-wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-right: 40px;
    .days-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: auto;

      .day {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3px;
        border: 2px solid $border;
        border-radius: 10px;
        background-color: $light-background;
        text-transform: uppercase;

        .temp-unit {
          padding: 10px;
        }

        &:hover {
          cursor: pointer;
          background-color: $background-hover;
          transition: 0.3s ease-in-out;
        }
      }

      .selected {
        background-color: $border;
        color: $text-light;
      }
    }
    .btn-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .convert-btn {
        border: 2px solid $border;
        border-radius: 5px;
        background-color: $border;
        outline: none;
        width: 45%;
        height: 35px;
        margin: 3px;
        font-size: 15px;
        color: white;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background-color: $background-hover;
          transition: 0.3s ease-in-out;
          color: $text;
        }
      }
    }
  }
}
