.widget-wrapper {
  border: 2px solid $border;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 550px;
  padding: 20px 30px;
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 255, 0.2);
  background: $widget-background;

  .day-name {
    font-size: 60px;
    padding: 10px 0px;
    border-bottom: 2px solid $border;
    margin-bottom: 10px;
  }

  .day-temp {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -4px;
    padding: 0px;
  }

  .day-wind {
    text-align: left;
  }

  .wind-direction {
    font-weight: bold;
    text-transform: capitalize;
  }

  .day-type {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-transform: capitalize;
  }

  .wind-direction-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;

    img {
      width: 50px;
      height: 50px;
      filter: opacity(0.6) drop-shadow(0 0 0 $border);
    }

    .compass-bg {
      position: absolute;
      width: 150px;
      height: 150px;
      opacity: 0.1;
      filter: drop-shadow(0 0 0 $border);
    }
  }

  .north {
    transform: rotate(0deg);
  }
  .north-east {
    transform: rotate(45deg);
  }
  .east {
    transform: rotate(90deg);
  }
  .south-east {
    transform: rotate(135deg);
  }
  .south {
    transform: rotate(180deg);
  }
  .south-west {
    transform: rotate(225deg);
  }
  .west {
    transform: rotate(270deg);
  }
  .north-west {
    transform: rotate(315deg);
  }
}

p {
  padding: 10px;
  font-size: 22px;
}
