$background: #517ae4;
$text: #325aaa;
$text-light: #dae1f1;
$text-shadow: #09172b;
$background-hover: #93aef3;
$light-background: #b5c7fa;
$dark-background: #496fda;
$widget-background: #dce5ff;
$border: #1a41a5;
