<template>
  <div class="widget-wrapper">
    <p class="day-temp">
      {{ convertTemp(selectedDay.temp, tempUnit) }}
      <span v-if="tempUnit === 'C'">°</span>
      {{ tempUnit }}
    </p>
    <p class="day-name">
      {{ selectedDay.day }}
    </p>
    <p class="day-type">{{ selectedDay.type }}</p>
    <p class="day-wind">
      Wind direction:
    </p>
    <p>
      <span class="wind-direction">{{ selectedDay.windDirection }}</span>
    </p>
    <div class="wind-direction-images">
      <img :class="getImageClass" src="../assets/fast-forward.svg" />
      <img class="compass-bg" src="../assets/compass.svg" />
    </div>
    <p class="day-wind">
      Wind speed: {{ convertWind(selectedDay.windSpeed, windUnit).toFixed(2) }}
      {{ windUnit }}
    </p>
  </div>
</template>

<script>
export default {
  name: "Widget",
  props: ["selectedDay", "convertTemp", "tempUnit", "windUnit", "convertWind"],
  data() {
    return {
      windDirections: {
        north: 0,
        "north-east": 45,
        east: 90,
        "south-east": 135,
        south: 180,
        "south-west": 225,
        west: 270,
        "north-west": 315,
      },
    };
  },
  computed: {
    getImageClass() {
      return this.selectedDay.windDirection;
    },
  },
};
</script>
