<template>
  <div class="main-container">
    <h1 class="week-header">This week's weather</h1>
    <div class="wrapper">
      <div class="days-wrapper">
        <ul class="days-list">
          <li
            @click="clickedDay(index)"
            v-for="(day, index) in weatherData.days"
            :key="index"
            :class="selectedIndex === index ? 'day selected' : 'day'"
          >
            <p>{{ day.day }}</p>
            <div class="temp-unit">
              {{ getTemperature(day.temp, currentTempUnit) }}
              <span v-if="currentTempUnit === 'C'">°</span>
              {{ currentTempUnit }}
            </div>
          </li>
        </ul>
        <div class="btn-container">
          <button
            class="convert-btn"
            v-if="currentTempUnit === 'C'"
            @click="convertTemp('K')"
          >
            Convert temperature to Kelvin
          </button>
          <button class="convert-btn" v-else @click="convertTemp('C')">
            Convert temperature to Celsius
          </button>
          <button
            class="convert-btn"
            v-if="currentWindUnit === 'km/h'"
            @click="convertWind('m/s')"
          >
            Convert wind speed to m/s
          </button>
          <button class="convert-btn" v-else @click="convertWind('km/h')">
            Convert wind speed to km/h
          </button>
        </div>
      </div>
      <Widget
        v-if="selectedDay.day !== ''"
        :selectedDay="selectedDay"
        :tempUnit="currentTempUnit"
        :windUnit="currentWindUnit"
        :convertTemp="getTemperature"
        :convertWind="getWindSpeed"
      />
    </div>
  </div>
</template>

<script>
import Widget from "./components/Widget";

export default {
  name: "Home",
  components: { Widget },
  data() {
    return {
      currentTempUnit: "C",
      currentWindUnit: "m/s",
      selectedIndex: null,
      weatherData: {
        tempUnit: "C",
        windSpeedUnit: "m/s",
        days: [
          {
            day: "Monday",
            temp: 22,
            windDirection: "north-east",
            windSpeed: 10,
            type: "sunny",
          },
          {
            day: "Tuesday",
            temp: 14,
            windDirection: "north-west",
            windSpeed: 14,
            type: "rainy",
          },
          {
            day: "Wednesday",
            temp: 17,
            windDirection: "south-east",
            windSpeed: 20,
            type: "cloudy",
          },
          {
            day: "Thursday",
            temp: 23,
            windDirection: "north-west",
            windSpeed: 15,
            type: "sunny",
          },
          {
            day: "Friday",
            temp: 21,
            windDirection: "south-west",
            windSpeed: 13,
            type: "windy",
          },
          {
            day: "Saturday",
            temp: 18,
            windDirection: "north-east",
            windSpeed: 16,
            type: "cloudy",
          },
          {
            day: "Sunday",
            temp: 17,
            windDirection: "south-west",
            windSpeed: 18,
            type: "rainy",
          },
        ],
      },
      selectedDay: {
        day: "",
        temp: null,
        windDirection: "",
        windSpeed: null,
        type: "",
      },
    };
  },
  methods: {
    clickedDay(index) {
      this.selectedDay = this.weatherData.days[index];
      this.selectedIndex = index;
    },
    convertTemp(unit) {
      this.currentTempUnit = unit;
    },
    convertWind(unit) {
      this.currentWindUnit = unit;
    },
    getTemperature: (temperature, tempUnit) => {
      return tempUnit === "K" ? temperature + 273.15 : temperature;
    },
    getWindSpeed: (speed, windUnit) => {
      return windUnit === "km/h" ? speed * 3.6 : speed;
    },
  },
};
</script>

<style lang="scss">
@import "../style/main";
</style>
